<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Blabla Vélo
      {% endblock %}
    </title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=5.0" />

    <meta name="title" content="Blabla Vélo" />
    <meta name="description" content="Tu cherches des partenaires pour rouler ? des personnes qui ont une pratique et un niveau similaires au tien ? NE CHERCHE PLUS ! 
    Blabla Vélo propose aux sportifs de proposer des sorties en précisant allure et pratique !" />
    <meta name="author" content="Julien Degermann" />
    <meta name="keywords" content="blabla, bla, blablavelo,vélo, randonnée, rando, sortie, VTT, cyclisme, route, gravel, groupe, passion, partage" />

    <meta property="og:title" content="Blabla Vélo" />
    <meta property="og:author" content="Julien DEGERMANN" />
    <meta property="og:description" content="Tu cherches des partenaires pour rouler ? des personnes qui ont une pratique et un niveau similaires au tien ? NE CHERCHE PLUS ! 
    Blabla Vélo propose aux sportifs de proposer des sorties en précisant allure et pratique ! De quoi partager la passion du vélo " />
    <meta property="og:keywords" content="blabla, bla, blablavelo, vélo, randonnée, rando, sortie, VTT, cyclisme, route, gravel, groupe, passion, partage" />
    <meta property="og:image" content="{{ asset('assets/images/blablabike.webp') }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://blablabike.julien-degermann.fr" />

    <link rel="icon" href="{{ asset('assets/images/favicon.ico') }}" />
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body class="bg-secondary">