{% extends 'base.html.twig' %}

{% block main %}
  <section class="text-center form-signin h-100">
    <div class="container h-100">
      <div class="row h-100 align-items-center d-flex-col">
        <form method="post" class="d-flex-col col-md-6 m-auto justify-content-center align-items-center ">
          <img src="{{ asset('assets/images/blablabike.webp') }}" alt="logo Ty'Ride">
          <h1 class="shadow-none mb-3 font-weight-normal">Connexion</h1>
          <div class="form-floating m-3">
            <input type="text" value="{{ last_username }}" name="user_name" id="inputUser_name" class="form-control" autocomplete="username" placeholder required autofocus />
            <label for="inputUser_name">Nom d'utilisateur</label>
          </div>
          <div class="form-floating m-3">
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder required />
            <label for="inputPassword">Mot de passe</label>
          </div>
    
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
    
          <button class="btn btn-lg btn-secondary text-primary px-5 mt-2" type="submit">Se connecter</button>
          <a class="btn btn-lg text-primary px-3 mt-4 fs-6" href="{{ path('app_pwd_forgot') }}">Mot de passe oublié</a>
        </form>
      </div> 
    </div>
  </section>
{% endblock %}
