{% extends 'base.html.twig' %}

{% block mainTitle %}
  Mot de passe oublié
{% endblock %}
{% block main %}
  <section class="my-3 my-md-5">
    <div class="container">
      <div class="row m-auto">
        <div class="col-12 col-md-6 m-auto">
          {{ form_start(form) }}
          {{ form_row(form.email) }}
          <input class="btn btn-primary text-white px-4 py-2 m-2" type="submit" name="pwd_recover" value="Réinitialiser le mot de passe" />
        </div>
      </div>
    </div>
  </section>

  {{ form_end(form) }}
{% endblock %}
