{% extends 'base.html.twig' %}

{% block main %}
  <section class="position-relative banner">
    <img class="h-100 w-100 object-fit-cover" src="{{ asset('assets/images/login.webp') }}"  alt="photo carte" />
    <div class="container position-absolute px-3 top-50 start-50 translate-middle">
      <div class="row">
          <h1 class="text-white text-center fs-1">Mot de passe oublié</h1>
      </div>
    </div>
  </section>

  <section class="my-3 my-md-5">
    <div class="container">
      <div class="row m-auto">
        <div class="col-12 col-md-6 m-auto">
          {{ form_start(form) }}
          {{ form_row(form.email) }}
          <input class="btn btn-secondary text-primary px-5 py-2 m-2" type="submit" name="pwd_recover" value="Réinitialiser le mot de passe" />

        </div>
      </div>
    </div>
  </section>

  {{ form_end(form) }}
{% endblock %}
