{% extends 'base.html.twig' %}

{% block title %}
  Ty'Ride - Accueil
{% endblock %}

{% block main %}
  
  <section class="my-5">
    <img src="" alt="photo VTT en groupe" />
    <div class="container">
      <div class="row">
        <div>
          <h1>ROULER, C'EST BIEN, À PLUSIEURS, C'EST MIEUX !</h1>
          <a class="btn px-3 mx-2 btn-secondary text-primary" href="/inscription">INSCRIS-TOI !</a>
        </div>
      </div>
    </div>
  </section>

  <section class="my-5 px-5">
    <div class="container">
      <div class="row">
        <div>
          <h2 class="text-center">Ty'Ride : c'est quoi ?</h2>
          <p class="col-md-8 offset-md-2">
            TY’RIDE veut <strong>rassembler</strong>les sportifs ayant des <strong>attentes les plus proches possibles</strong>. Les membres proposent alors des sorties avec quelques précisions : type de pratique, distance, dénivelé, allure …
          </p>
        </div>

        <div class="text-center border-multiple w-auto my-5 mx-auto p-5">
          + de <strong class="text-secondary">CONVIVIALITÉ</strong> et de <strong class="text-secondary">MOTIVATION</strong> <br />
          - de <strong class="text-secondary">SURPRISE</strong>, pas de <strong class="text-secondary">PRESSION</strong> (🍺 ou avec modération !)
        </div>
      </div>
    </div>
  </section>

  <section class="my-5 px-5">
    <div class="row d-flex justify-content-between">
      {# here : get last 5 rides in database and loop for…in #}
      {{ dump(all_rides) }}
      {% for ride in all_rides %}
        {% include '/partials/card_partial.html.twig' %}
      {% endfor %}
    </div>
  </section>

{% endblock %}
