{% extends 'base.html.twig' %}

{% block main %}
  <section class="my-3 my-md-5">
    <div class="container">
      <h2 class="text-center mb-5 fs-1">Politique de confidentialité</h2>
    </div>
  </section>

  <section class="my-3 my-md-5">
    <div class="container">
      <h3 class="fs-3">Collecte des informations</h3>
      <p>
        Nous collectons des informations lorsque vous utilisez notre site. Les informations collectées peuvent inclure : <br />
        Les données que vous fournissez volontairement, telles que votre nom, votre adresse e-mail, etc. Les informations collectées automatiquement, telles que votre adresse IP, votre type de navigateur, etc.
      </p>
    </div>
  </section>

  <section class="my-3 my-md-5">
    <div class="container">
      <h3 class="fs-3">Utilisation des données</h3>
      <p>Nous utilisons les informations collectées pour :</p>
      <ul>
        <li>Fournir et personnaliser nos services</li>
        <li>Améliorer notre site Communiquer avec vous</li>
        <li>Envoyer des e-mails promotionnels ou des newsletters (si vous avez donné votre consentement)</li>
      </ul>
    </div>
  </section>

  <section class="my-3 my-md-5">
    <div class="container">
      <h3 class="fs-3">Confidentialité et sécurité</h3>
      <p>Nous mettons en place des mesures de sécurité pour protéger vos informations personnelles et nous nous engageons à ne pas les divulguer à des tiers sans votre consentement.</p>
    </div>
  </section>

  <section class="my-3 my-md-5">
    <div class="container">
      <h3 class="fs-3">Cookies</h3>
      <p>Nous utilisons des cookies pour améliorer l'expérience de navigation sur notre site. Vous pouvez configurer votre navigateur pour refuser les cookies ou être averti lorsque des cookies sont envoyés.</p>
    </div>
  </section>
  <section class="my-3 my-md-5">
    <div class="container">
      <h3 class="fs-3">Partage des informations</h3>
      <p>Nous ne vendons, n'échangeons ni ne transférons vos informations personnelles à des tiers, sauf dans les cas suivants :</p>
      <ul>
        <li>Si cela est nécessaire pour fournir nos services ou répondre à votre demande</li>
        <li>Si nous y sommes légalement tenus Si cela est nécessaire pour protéger nos droits ou la sécurité de nos utilisateurs</li>
      </ul>
    </div>
  </section>
  <section class="my-3 my-md-5">
    <div class="container">
      <h3 class="fs-3">Modification de la politique de confidentialité</h3>
      <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications seront publiées sur cette page.</p>
    </div>
  </section>
{% endblock %}
