{% extends 'base.html.twig' %}

{% block title %}
  Ty'Ride - Politique de confidentialité
{% endblock %}

{% block main %}
  <section>
    <div class="container">
      <div class="row">
        <h1 class="text-center">Politique de confidentialité</h1>
        <article class="col-md-8 m-auto">
          <h2 class="text-lowercase">Collecte des informations</h2>
          <p>
            Nous collectons des informations lorsque vous utilisez notre site. Les informations collectées peuvent inclure : <br />
            Les données que vous fournissez volontairement, telles que votre nom, votre adresse e-mail, etc. Les informations collectées automatiquement, telles que votre adresse IP, votre type de navigateur, etc.
          </p>
        </article>
        <article class="col-md-8 m-auto">
          <h2 class="text-lowercase">UTILISATION DES INFORMATIONS</h2>
          <p>
            Nous utilisons les informations collectées pour :<ul>
              <li>Fournir et personnaliser nos services</li>
              <li>Améliorer notre site Communiquer avec vous</li>
              <li>Envoyer des e-mails promotionnels ou des newsletters (si vous avez donné votre consentement)</li>
            </ul>
          </p>
        </article>

        <article class="col-md-8 m-auto">
          <h2 class="text-lowercase">CONFIDENTIALITÉ ET SÉCURITÉ</h2>
          <p>
            Nous mettons en place des mesures de sécurité pour protéger vos informations personnelles et nous nous 
            engageons à ne pas les divulguer à des tiers sans votre consentement.
          </p>
        </article>
        <article class="col-md-8 m-auto">
          <h2 class="text-lowercase">COOKIES</h2>
          <p>Nous utilisons des cookies pour améliorer l'expérience de navigation sur notre site. Vous pouvez configurer votre navigateur pour refuser les cookies ou être averti lorsque des cookies sont envoyés.</p>
        </article>
        <article class="col-md-8 m-auto">
          <h2 class="text-lowercase">PARTAGE DES INFORMATIONS</h2>
          <p>
            Nous ne vendons, n'échangeons ni ne transférons vos informations personnelles à des tiers, sauf dans les cas suivants :<ul>
              <li>Si cela est nécessaire pour fournir nos services ou répondre à votre demande</li>
              <li>Si nous y sommes légalement tenus Si cela est nécessaire pour protéger nos droits ou la sécurité de nos utilisateurs</li>
            </ul>
          </p>
        </article>
        <article class="col-md-8 m-auto">
          <h2 class="text-lowercase">MODIFICATION DE LA POLITIQUE DE CONFIDENTIALITÉ</h2>
          <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications seront publiées sur cette page.</p>
        </article>
      </div>
    </div>
  </section>
{% endblock %}
