{% extends 'base.html.twig' %}

{% block mainTitle %}
  Contacte-nous !
{% endblock %}

{% block main %}
  <section class="my-3 my-md-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 m-md-auto h-100">
          {{ form_start(messageForm) }}
          {{ form_row(messageForm.title) }}
          {{ form_row(messageForm.text) }}
          <input class="w-auto px-4 py-2 m-2 mt-4 form-control btn btn-primary text-white" type="submit" name="send_message" value="Envoyer le message" />
          {{ form_end(messageForm) }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
