{% extends 'base.html.twig' %}

  {% block mainTitle %}
    Blabla Vélo : Comment ça marche ?
  {% endblock %}
{% block main %}

  <section class="my-3 my-md-5">
    <div class="container">
      <div class="row">
        <h3>Principe</h3>
        <p>
          Blabla Vélo est une plateforme de mise en relation pour les cyclistes. <br />
          Le but est de favoriser la rencontre de sportifs ayant des attentes et niveaux similaires. <br />
          Elle permet de trouver des partenaires pour rouler, que ce soit pour une sortie ponctuelle ou pour une pratique régulière.
        </p>
        <div class="px-2">
          <p class="alert alert-warning">
            <strong class="fw-bold" style="color: inherit;">IMPORTANT</strong><br />
            L'application est <strong>gratuite</strong>. Elle est développée (et continue de l'être) <strong>bénévolement</strong>. <br />
            N'hésitez donc pas a remonter les bugs et faire des sugestions via le
            <a title="lien vers le formulaire de contact" class="text-primary fst-italic text-decoration-underline" href="{{ path('app_contact') }}">formulaire de contact</a>. Il est également important de noter que Blabla Vélo ne peut être tenu responsable du comportement des utilisateurs : il est fortement conseillé de vérifier régulièrement que les sorties sont toujours maintenues.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="my-3 my-md-5">
    <div class="container">
      <div class="row">
        <h3>Fonctionnement</h3>
        <p>
          Pour utiliser l'application, il faut s'inscrire <a class="text-secondary text-decoration-underline" href="{{ path('app_register') }}">ici</a>.<br />
          Lors de l'insription, l'utilisateur renseigne quelques informations (exemples : pseudo, e-mail, mot de passe). Pour profiter pleinement de l'application, il est conseillé de compléter son profil avec des informations supplémentaires (exemples : pratique, département et objectif). <br />
        </p>
        {# video showing how the app works #}
        <p>Une fois inscrit, chaque membre peut :</p>
        <ul class="info-list">
          <li class="mb-2">
            Proposer des sorties : <br />
            Il précise alors quelques informations (exemples : distance, nombre de participants maximum, vitesse moyenne, ville de départ, …). Des informations complémentaires peuvent être ajoutées dans la description de la sortie. Les sorties sont limitées à 10 personne maximum. Une fois ce nombre atteint, l'annonce n'est plus visible dans la liste des sorties.
          </li>
          <li>
            S'inscrire à des sorties : <br />
            Il peut visionner l'ensemble des sorties proposées depuis la liste des annonces (filtrées selon le départment renseigné dans le profil). En cliquant sur une sortie, le détail s'affiche avec la description. Il peut également retrouver à tout moment l'ensemble des sorties auxquelles il s'est inscrites depuis son profil pour vérifier des informations ou se désinscrire.
          </li>
        </ul>
      </div>
    </div>
  </section>
{% endblock %}
