{% include '/_partials/_head.html.twig' %}

{% block header %}
  {% include '/_partials/_header.html.twig' %}
{% endblock %}

<main class="position-relative z-0">
  {% if app.user %}
    <div id="profile-menu" class="">
      <div class="bg-white w-auto h-100 p-5 text-start">
        {% include '/_partials/_profile_menu.html.twig' %}
      </div>
    </div>
  {% endif %}

  {% block back %}
    <section>
      <div class="container">
        <a id="return" class="btn bg-secondary border-primary px-3 py-2 text-primary m-2" href="{{ app.request.headers.get('referer') }}">
          <svg class="me-1 mb-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
          </svg>Retour
        </a>
      </div>
    </section>
  {% endblock %}
  {% block titleSection %}
    <section class="my-3 my-md-5">
      <div class="container">
        <h2 class="text-center mb-5 fs-1">
          {% block mainTitle %}
            Change this title in your page template
          {% endblock %}
        </h2>
      </div>
    </section>
  {% endblock %}

  {% include '/_partials/_addflash.html.twig' %}

  {% block main %}
    {# here is the content of page #}
  {% endblock %}
</main>
{% include '/_partials/_footer.html.twig' %}
